%ol.breadcrumb.mb-0.small
  - @breadcrumbs.each do |item|
    :ruby
      label, url = item
      label = t("breadcrumbs.#{label}") if label.is_a?(Symbol)
    - if @breadcrumbs.last.last == item
      %li.breadcrumb-item.active= label
    - else
      %li.breadcrumb-item= link_to(label, url, class: 'link-light')
